<div class="card parent " [ngClass]="{'international':student.category == 'International','domestic' : student.category == 'Domestic'}">
    <div class="card-body " >
      <div>
          <h4 class="card-title card-name-style">{{ student.firstName + " " + student.lastName }}</h4>
      </div>  
        <div class="complete-body" >
          <div class="left">
              <h6 class="card-title">General Information</h6> 
              <p class="card-text"><b>Father : </b> {{ student.fatherName }}</p>
              <p class="card-text"><b>Mother : </b> {{student.motherName }}</p> 
              <p class="card-text" *ngIf = "student.category == 'International'"><b>Catergory:</b> International</p>
              <p class="card-text" *ngIf = "student.category == 'Domestic'"><b>Catergory: </b>Domestic</p>
              <p class="card-text"><b>Previous Score : </b>{{student.previousScore }}%</p> 
              <p class="card-text"><b>Birthday :</b> {{student.dateOfBirth | date }}</p> 
          </div>
          <div class="right">
              <h6 class="card-title">Submitted Documents </h6> 
              <p *ngIf = "student.declaration == true"> &#9681; Signed Declaration</p>
              <p *ngIf = "student.domicile == true"> &#9681; Domicile Certificate</p>
              <p *ngIf = "student.markSheets == true"> &#9681; Previous Marksheets</p>
              <p *ngIf = "student.passport == true"> &#9681; Passport</p>
              <p *ngIf = "student.policeClearance == true"> &#9681; Police Clearance</p>
              <p *ngIf = "student.birthCertificate == true"> &#9681; Birth Certificate</p>
          </div>
        </div>
        <div class="buttons">
          <button class="btn btn-primary action-buttons" (click) = "editClick(student.id)">Edit</button> 
          <button class="btn btn-primary action-buttons" (click) = "viewClicked(student.id)">View</button>
          <button class="btn btn-primary action-buttons" (click) = "modal.show()" >Delete</button>
        </div>
    </div>
</div>
<app-modal #modal class="pos-absolute">
    <div class="app-modal-header align-centre-text full-width" >
      <h4>Delete Confirmation </h4>
    </div>
    <div class="app-modal-body" >
      <p>Are you sure you want to delete the record for: <b class="font-design">{{student.firstName + " " + student.lastName}}</b> </p>
    </div>
    <div class="app-modal-footer full-width" >
      <button type="button" class="btn btn-default left-margin" (click)="modal.hide()">Close</button>
      <button type="button" class="btn btn-primary left-margin" (click)="deleteClicked(student.id, modal);modal.hide()">Delete</button>
    </div>
</app-modal>