<div class="form-v10 no-margin container">
    <div class="page-content">
      <div class="form-v10-content">
        <form class="form-detail" [formGroup]="studentForm" (ngSubmit)="onSubmit()" id="myform">
          <div class="form-left">
            <h2>General Infomation</h2>
            
            <div class="form-group no-boundary">
              <div class="form-row form-row-1">
                <input type="text" name="firstName" formControlName="firstName" id="firstName" class="input-text text-class" [disabled]="viewForm" placeholder="Student's First Name" required>
                <span class="select-btn no-boundary">
                    <i class="zmdi zmdi-chevron-down color-red" >*</i>
                </span>
              </div>
              <div class="form-row form-row-2">
                <input type="text" name="lastName" formControlName="lastName" id="lastName" class="input-text text-class" placeholder="Last Name" required>
                <span class="select-btn no-boundary" >
                    <i class="zmdi zmdi-chevron-down color-red" >*</i>
                </span>
              </div>
            </div>

            <div class="form-group no-boundary">
                <div class="form-row form-row-1">
                    <div *ngIf="formControls.firstName.invalid && formControls.firstName.touched" class="error-style">
                        <small class="text-danger" *ngIf="formControls.firstName.errors?.required">First Name is required</small>
                    </div>
                </div>
                
                <div class="form-row form-row-2">
                    <div *ngIf="formControls.lastName.invalid && formControls.lastName.touched" class="error-style">
                        <small class="text-danger" *ngIf="formControls.lastName.errors?.required">Last Name is required</small>
                    </div>
                </div>
            </div>
            <div class="form-group no-boundary" >
                <div class="form-row form-row-1 category-style" >
                  <label class="form-row">Category</label>
                </div>
                <div class="form-row form-row-2">
                    <select name="category" id="category" formControlName="category" #t (click)="updateCategoryFlag(t.value)">
                        <option value=null disabled selected>Category</option>  
                        <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
                    </select>
                    <span class="select-btn">
                        <i class="zmdi zmdi-chevron-down color-red" >*</i>
                    </span>
                </div>
            </div>
            <div class="form-row no-boundary">
                <div *ngIf="formControls.category.errors?.required && formControls.category.touched" class="error-style" style="left: 50%">
                    <small class="text-danger">Category is required</small>
                </div>
            </div>

            <div class="form-row no-boundary">
              <input type="text" name="fatherName" formControlName="fatherName" class="text-class"  id="fatherName" placeholder="Father's Name" required>
              <span class="select-btn no-boundary">
                  <i class="zmdi zmdi-chevron-down color-red" >*</i>
              </span>
            </div>

            <div class="form-row no-boundary">
                <div *ngIf="formControls.fatherName.invalid && formControls.fatherName.touched" class="error-style">
                    <small class="text-danger" *ngIf="formControls.fatherName.errors?.required">Father's Name is required</small>
                </div>
            </div>

            <div class="form-row no-boundary">
              <input type="text" name="motherName" formControlName="motherName" class="text-class" id="motherName" placeholder="Mother's Name" required>
              <span class="select-btn no-boundary">
                  <i class="zmdi zmdi-chevron-down color-red" >*</i>
              </span>
            </div>

            <div class="form-row no-boundary">
                <div *ngIf="formControls.motherName.invalid && formControls.motherName.touched" class="error-style">
                    <small class="text-danger" *ngIf="formControls.motherName.errors?.required">Mother's Name is required</small>
                </div>
            </div>

            <div class="form-row no-boundary">
                <input type="number" name="previousScore" formControlName="previousScore" class="text-class" id="lastClassScore" placeholder="Last class percentage score" required>
                <span class="select-btn" style=" margin-right: 5%;">
                    <i class="zmdi zmdi-chevron-down">%</i>
                    <i class="zmdi zmdi-chevron-down color-red" >*</i>
                </span>
            </div>
           
            <div class="form-row no-boundary">
                <div *ngIf="formControls.previousScore.invalid && formControls.previousScore.touched" class="error-style">
                    <small class="text-danger" *ngIf=" formControls.previousScore.errors?.required">Previous class percentage score is required</small>
                    <small class="text-danger" *ngIf="formControls.previousScore.errors?.min || formControls.previousScore.errors?.max">Enter number between 1-100</small>
                </div>
            </div>

            <div class="form-group no-boundary" style="margin-top:10px;">
                <div class="form-row form-row-1" style="margin-top: 20px;">
                  <label class="form-row">Date of Birth</label>
                </div>
                <div class="form-row form-row-2">
                    <input type="date" class="text-class" formControlName="dateOfBirth" name="dateOfBirth" data-date-inline-picker="true" name="dob" id="dob"/>
                    <span class="select-btn no-boundary">
                        <i class="zmdi zmdi-chevron-down color-red" >*</i>
                    </span>
                </div>
              </div>
              <div class="form-row no-boundary">
                  <div *ngIf="formControls.dateOfBirth.invalid && formControls.dateOfBirth.touched" class="error-style" style="left:50%">
                      <small class="text-danger" *ngIf="formControls.dateOfBirth.errors?.required">Date Of Birth is required</small>
                  </div>
              </div>
          </div>
          <div class="form-right">
            <h2>Documents</h2>
            <div class="form-row high" *ngIf="studentForm.errors?.documentMissing">
                  <span class="select-btn no-boundary">
                      <i class="zmdi zmdi-chevron-down color-red" >Fill all required fields</i>
                  </span>
              </div>
            <div class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Domicile Certificate<i *ngIf="isInternationStudent ||isDomesticStudent" class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                    <input type="checkbox" formControlName="domicile" class="checkmark" name="domicile" required/>
                </label>
            </div>
            
            <div class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Birth Certificate <i *ngIf="isInternationStudent ||isDomesticStudent" class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                    <input type="checkbox" formControlName="birthCertificate" class="checkmark" name="birthCertificate" required/>
                </label>
            </div>
            
            <div class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Mark Sheets <i *ngIf="isInternationStudent ||isDomesticStudent" class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                  <input type="checkbox" formControlName="markSheets" class="checkmark" name="markSheets" required/>
                </label>
            </div>
            
            <div class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Police Clearance  <i *ngIf="isInternationStudent" class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                  <input type="checkbox" formControlName="policeClearance" class="checkmark" name="policeClearance" />
                </label>
            </div>
            
            <div  class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Passport  <i *ngIf="isInternationStudent" class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                  <input type="checkbox" formControlName="passport" class="checkmark" name="passport" />
                </label>
            </div>
            
            <div class="form-checkbox" >
                <label class="container"><h6 class="bottom-left-space"> Signed Declaration  <i *ngIf="isInternationStudent ||isDomesticStudent"class="zmdi zmdi-chevron-down color-red" >*</i></h6>
                  <input type="checkbox" formControlName="declaration" class="checkmark" name="declaration" [disabled]="viewForm" required/>
                </label>
            </div>
            
            <div class="form-row-last">
              <button type="submit"  [disabled]="!studentForm.valid" *ngIf="!viewForm" class="onboard text-class">Onboard</button>
            </div>
            <div class="form-group no-boundary bottom-warning" > 
              <div class="form-row form-row-2 ">
                  <span class="select-btn no-boundary">
                      <i class="zmdi zmdi-chevron-down color-red" >* Required fields</i>
                  </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  