<div class="container outer outer-background" >
    <div class="row inner-first" > 
     <div class="search-filter">
        <div class="col top-30" >
              <label class="filter-label">Filter : </label>
              <select class="browser-default custom-select wid-20" [(ngModel)]="filterText" >
                  <option value="">All</option>  
                  <option value="International">International</option>
                  <option value="Domestic">Domestic</option>
                </select>
                <a class="marg-left-20">
                  <i class="fas fa-search fa-2x" ></i>
                  <input class="input--style-3 input-style2"  type="text" placeholder="   Search" type="search" [(ngModel)]="searchText">
                </a>
        </div>
      </div>
        <div class="col-md-3 min-width-45" *ngFor="let student of onBoardingService.students.value | searchStudents: searchText | filterStudents: filterText">
            <app-student [student]="student" (actionPerformed)="deleteRecord($event)"></app-student>
        </div>
        <div class="col-md-3 min-width-45 left-30" *ngIf="(onBoardingService.students.value | searchStudents: searchText).length === 0">
          <h1>No Students Found</h1>
      </div>
    </div>
</div>