<div class="container outer" style="background-image: url('assets/bg-01.jpg');">
    <div class="row" style="margin-top: 50px; "> 
      <!-- Search form -->
      <div class="search-filter">
        <div class="col" style="top : 30%">
              <label style=" font-size:larger; margin-left: 10%; margin-right: 2%">Filter : </label>
              <select class="browser-default custom-select" style="width: 20%" [(ngModel)]="filterText" >
                  <option value="">All</option>  
                  <option value="International">International</option>
                  <option value="Domestic">Domestic</option>
                </select>
                <a style="margin-left:20%">
                  <i class="fas fa-search fa-2x" ></i>
                  <input class="input--style-3 input-style2"  type="text" placeholder="   Search" type="search" [(ngModel)]="searchText">
                </a>
        </div>
      </div>
        
        <div class="col-md-3 col-xs-6 " style="min-width: 45%;" *ngFor="let stud of onBoardingService.students.value | searchStudents: searchText | filterStudents: filterText">
            <app-student [student]="stud" (actionPerformed)="deleteRecord($event)"></app-student>
        </div>
    </div>
</div>